.ui.segment.form{
    margin-top: 3rem;
}

#todos .item{
    display: flex;
    align-items: center;
}

#todos .completed{
    text-decoration: line-through;
}

#todos .button{
    margin-left: auto;
}